<h2>Welcome to Pizza Shop!</h2>
<div class="container">
  <div class="row">
  	<% @products.each do |product| %>
  	<div class="col-md-3">
  		<img src="<%= product.path_to_image %>" alt="Responsive image" class="img-rounded">
  		<h4> <%= product.title %></h4>
  		<p> <%= product.description %> </p>
  		<div>Price: <%= product.price %> RUB</div> 
  		<div>Size: <%= product.size %> cm</div>
      <div>
  		  <button class="btn btn-success btn-sm" onclick="add_to_cart(<%= product.id %>)">Add to cart!</button>
      </div>
  	</div>
  	<% end %>
  </div>
</div>

</br>
<div>
  <button class="btn btn-primary" onclick="something()">Click!</button>
</div>



